<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moaplace.mapper.AdminNoticeMapper">
	<insert parameterType="com.moaplace.vo.AdminNoticeVO"
		id="insert">
		<selectKey keyProperty="notice_num" order="BEFORE"
			resultType="int">
			select notice_seq.nextval from dual
		</selectKey>
		insert into notice values(#{notice_num}, 1, #{sort_num},
		#{notice_title}, #{notice_content}, sysdate, 0)
	</insert>

	<sql id="search">
	<!-- field O -> where field 
	     field O , sort_num O -> where field and sort_num
	     field X , sort_num O -> where sort_num // overrides 단어로만 시작된다면 그 단어를 지워줌
	                                               and를 prefixOverrides가 지워줌 -->
	  <trim prefix="where" prefixOverrides="and">
		<!-- field(column) 포함된 keyword의 값이 포함 된 데이터를 조회한다. --> 
		<if test="field!=null and field!=''"> 
		  <choose>
		     <when test="field=='total'">
		        notice_title like '%'||#{keyword}||'%' OR
		        notice_content like '%'||#{keyword}||'%'
		     </when>
		     <when test="field=='title'">
		       notice_title like '%'||#{keyword}||'%'
		     </when>
		     <when test="field=='content'">
		       notice_content like '%'||#{keyword}||'%'
		     </when>
		  </choose>
		  </if>
	      <if test="sort_num!=0">	  
		   and sort_num = #{sort_num}
		  </if>
	  </trim>
	</sql>

	<select parameterType="hashmap" id="listAll" resultType="com.moaplace.dto.AdminListDTO">
       select * from (
          select b.*,rownum rnum from (
		    select a.* from (
		      select n.notice_num, n.notice_title, n.notice_content, n.notice_regdate, s.sort_num, s.sort_name, m.member_num
		          from notice n, sort s, member m
	              where n.sort_num = s.sort_num
		          and n.member_num = m.member_num
		          order by n.notice_num desc
		          ) a <include refid="search" /> 
		      ) b 
		 ) <![CDATA[  where rnum>=#{startRow} and rnum<=#{endRow} ]]>
	</select>
	
	<!-- 전체 글의 갯수 -->
	<select parameterType="hashmap" id="getCount" resultType="int">
		select NVL(count(*),0) cnt from 
		 (
		  select n.notice_num, n.notice_title, n.notice_content, n.notice_regdate, s.sort_name, s.sort_num ,m.member_num
		    from notice n , sort s, member m
		      where n.sort_num = s.sort_num
		       and n.member_num = m.member_num
		       order by n.notice_num desc
		   ) a
		    <include refid="search" />
	</select>
	
	<!-- 새 글 상세보기 리스트 -->
	<select id="detail" resultType="com.moaplace.dto.AdminDetailDTO" parameterType="int" >
	      select a.* from ( select n.notice_title, n.notice_content, s.sort_name, d.*
		        from notice n, notice_detail d, sort s, member m
	                 where n.sort_num = s.sort_num
		             and n.member_num = m.member_num 
		             and n.notice_num = d.notice_num ) a
		             where notice_num = #{notice_num}
	</select>
    
    <!-- 새 글 상세보기 파일이 없을 때  
         detail 있을 때 d의 notice_num이 없기떄문에 리스트가 다 null값이 나옴 , 확인 필요-->
	<select id="detaillist" resultType="com.moaplace.dto.AdminListDTO" parameterType="int">
		select a.* from ( 
		   select n.notice_title, n.notice_content,n.notice_num,s.sort_name
		     from notice n, sort s, member m
		        where n.sort_num = s.sort_num
		        and n.member_num = m.member_num
		   ) a
		where notice_num = #{notice_num}
	</select>
	
	<!-- 해당 번호에 받는 파일 불러오기 (DetailView용)
	  메소드 정리 요망 -->
	<select id="filelist" parameterType="int" resultType="com.moaplace.dto.AdminNoticeDetailDTO">
	   select * from notice_detail where notice_num = #{notice_num}
	</select>
	
	<!-- 해당 번호에 받는 파일 불러오기 (다운로드용) -->
	<select id="filedown" parameterType="int" resultType="com.moaplace.dto.AdminNoticeDetailDTO">
	   select * from notice_detail where notice_detail_num = #{notice_detail_num}
	</select>
	
	<!-- 삭제를 위한 파일 불러오기
	   파일 객체로부터 save_file을 불러야하는데 list는 불가
	  이미 detail에서 기능을 사용하고 있어(바꾸기 귀찮아) 새로 메소드 만들었음. 
	  시간되면 깔끔하게 하기 위해 고칠 것-->
	<select id="selectfile" parameterType="int" resultType="com.moaplace.dto.AdminNoticeDetailDTO">
	   select * from notice_detail where notice_detail_num = #{notice_detail_num}
	</select>
	
	<!--  삭제를 위한 넘버 받기 , 후에 mapper, service에서 list로 받는다, 단 int[] 형식은 안돼 -->
	<select id="selectnum" parameterType="int" resultType="int">
	  select notice_detail_num from notice_detail where notice_num = #{notice_num}
	</select>
	
	<!-- 삭제, 파일 없는 경우  -->
	<delete id="delete" parameterType="int">
	   delete from (
	   select n.*,s.sort_name
		     from notice n, sort s
		        where n.sort_num = s.sort_num
		   ) where notice_num=#{notice_num}
	</delete>
	
	
	<!-- 삭제, 파일 있는 경우 -->
	<delete id="alldelete" parameterType="int">
	   delete from (
	       select n.*, s.sort_name, d.notice_detail_num, d.notice_orgfile, d.notice_savefile, d.notice_filesize 
		        from notice n, notice_detail d, sort s
	                 where n.sort_num = s.sort_num
		             and n.notice_num = d.notice_num )
		             where notice_num=#{notice_num}
	</delete>
	
	<!-- 파일만 개별 삭제용 -->
	<delete id="deletefile" parameterType="int">
	  delete from notice_detail where notice_detail_num = #{notice_detail_num}
	</delete>
	
	<delete id="deleteone" parameterType="int">
	  delete from notice_detail where notice_num = #{notice_num}
	</delete>

	<!--  update,detail용 select, 나중에 파일 정리 -->
	<select id="selectdetail" parameterType="int" resultType="com.moaplace.dto.AdminListDTO">
	   select a.* from ( 
		   select n.notice_title, n.notice_content,n.notice_num,s.sort_name
		     from notice n, sort s
		        where n.sort_num = s.sort_num
		   ) a
		where notice_num = #{notice_num}
	</select>
	
	<!-- 수정용 업데이트 -->
	<update id="update" parameterType="com.moaplace.vo.AdminNoticeVO" >
	   update notice set sort_num=#{sort_num},notice_title=#{notice_title},notice_content=#{notice_content}
        where notice_num=#{notice_num}
	</update>
	


	<!-- 메인페이지 새소식 조회 시작=================================== -->
	<select id="getNotice" resultType="com.moaplace.dto.MainNoticeDTO">
		SELECT no.*, rownum 
		FROM
		(
			SELECT 
				notice_num, notice_title, notice_content, notice_regdate
			FROM
				notice
			ORDER BY 
				notice_regdate DESC
		)no
		WHERE 
		<![CDATA[  rownum <= 3 ]]>
	</select>
	<!-- 메인페이지 새소식 조회 끝=================================== -->
</mapper>