<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.moaplace.mapper.MemberMapper">

	<select id="qnaMember" resultType="com.moaplace.dto.QnaMemberDTO">
    	select member_id, member_name, member_phone, member_email 
    	from member where member_num=#{member_num}
  	</select>

	<!-- 일치하는 회원 찾기 -->
	<select id="findById" resultType="string">
		SELECT member_id FROM member
		<if test="name != null and name != ''">
			WHERE member_name = #{name} 
		</if>
		<if test="id != null and id != ''">
			WHERE member_id = #{id} 
		</if>
		AND member_email = #{email} 
		AND enabled = 1
	</select>
	
	<select id="findByPassword" resultType="string">
		SELECT member_pwd FROM member
		WHERE member_id = #{member_id} AND enabled = 1
	</select>

	<select id="memberInfo" resultType="com.moaplace.dto.member.MemberInfoResponseDTO">
		SELECT
			member_num, member_id, member_email, member_name, member_gender,
			member_birth, member_phone, member_address, regDate, member_point
		FROM member
		WHERE member_id = #{member_id} AND enabled = 1
	</select>
	
	<select id="login" resultType="com.moaplace.dto.member.MemberLoginResponseDTO">
		SELECT member_id, authority FROM member
		WHERE member_id = #{member_id} AND member_pwd = #{member_pwd} AND enabled = 1
	</select>
	
	<select id="checkId" resultType="string">
		SELECT member_id FROM member
		WHERE member_id = #{member_id} AND enabled = 1
	</select>

	<insert id="join">
		<!-- 결과값인 bnum이 자동으로 파라미터로 받은 VO에 주입됨 -->
		<selectKey keyProperty="member_num" order="BEFORE" resultType="int">
			SELECT member_seq.nextval FROM dual
		</selectKey>
		INSERT INTO 
		member(member_num, member_id, member_pwd, member_email, member_name,
			member_gender, member_birth, member_phone, member_address, member_point)
		VALUES(#{member_num}, #{member_id}, #{member_pwd}, #{member_email}, #{member_name},
			#{member_gender}, #{member_birth}, #{member_phone}, #{member_address}, 2000)
	</insert>
	
	<sql id="search">
	<!-- <![CDATA[]]> -->
			<trim prefix="WHERE">
	      <if test="sorted == 'all'">
	      	enabled LIKE '%%'
	      </if>
	      <if test="sorted != 'all'">
	      	enabled LIKE '%'||#{sorted}||'%'
	      </if>
	      <trim prefix="AND">
		      <if test="field != null and field != '' and word != null">
		      	${field} LIKE '%'||#{word}||'%'
		      </if>
		    </trim>
			</trim>
	    ORDER BY member_num desc
	</sql>
	
	<select id="selectAll" resultType="com.moaplace.dto.member.AdminMemberInfoResponseDTO">
		SELECT * FROM (
	    SELECT ROWNUM rn, member_num, member_id, member_email, member_name, 
	        member_phone, regdate, member_point, enabled
	    from (
	        SELECT * FROM member 
	        <include refid="search" />
	        ) m
	    ) mm
		<![CDATA[ WHERE RN >= #{startRow} AND RN <= #{endRow} ]]>
	</select>
	
	<select id="getCount" resultType="int">
		SELECT NVL(COUNT(member_num), 0) FROM member
		<include refid="search" />
	</select>
	
	<select id="findOne" resultType="com.moaplace.vo.MemberVO">
		SELECT * FROM member WHERE member_id = #{member_id} AND enabled = 1
	</select>
	
	<update id="newPassword">
		UPDATE member SET member_pwd = #{member_pwd}
		WHERE member_id = #{member_id} AND enabled = 1		
	</update>
	
	<update id="withdrawal">
		UPDATE member SET enabled = 0
		WHERE member_id = #{member_id} AND enabled = 1
	</update>
	
	<select id="apiCheck" resultType="com.moaplace.dto.member.ApiLoginDTO">
		select m.member_id, m.authority, a.member_email 
		FROM member m JOIN api_auth a
		ON m.member_email = a.member_email 
		WHERE a.member_email = #{member_email} AND m.enabled = 1 AND a.api_name = 'kakao'
	</select>
	
	<select id="apiLogin" resultType="com.moaplace.dto.member.MemberLoginResponseDTO">
		select m.member_id, m.authority
		FROM member m JOIN api_auth a
		ON m.member_email = a.member_email 
		WHERE a.member_email = #{member_email} AND m.enabled = 1 AND m.member_id = #{member_id} AND a.api_name = 'kakao'
	</select>
	
</mapper>