<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.moaplace.mapper.MemberMapper">

	<select id="qnaMember" resultType="com.moaplace.dto.QnaMemberDTO">
    	select member_id, member_name, member_phone, member_email 
    	from member where member_num=#{member_num}
  	</select>

	<select id="findById" resultType="string">
		SELECT member_id FROM member
		WHERE member_name = #{member_name} AND member_email = #{member_email} AND enabled = 1
	</select>
	
	<select id="findByPassword" resultType="string">
		SELECT member_pwd FROM member
		WHERE member_id = #{member_id} AND enabled = 1
	</select>

	<select id="memberInfo" resultType="com.moaplace.dto.MemberInfoResponseDTO">
		SELECT
			member_num, member_id, member_email, member_name, member_gender,
			member_birth, member_phone, member_address, regDate, member_point
		FROM member
		WHERE member_id = #{member_id} AND enabled = 1
	</select>
	
	<select id="login" resultType="com.moaplace.dto.MemberLoginResponseDTO">
		SELECT member_id, authority FROM member
		WHERE member_id = #{member_id} AND member_pwd = #{member_pwd} AND enabled = 1
	</select>
	
	<select id="checkId" resultType="string">
		SELECT member_id FROM member
		WHERE member_id = #{member_id} AND enabled = 1
	</select>

	<insert id="join">
		INSERT INTO 
		member(member_num, member_id, member_pwd, member_email, member_name,
			member_gender, member_birth, member_phone, member_address, member_point)
		VALUES(member_seq.nextval, #{member_id}, #{member_pwd}, #{member_email}, #{member_name},
			#{member_gender}, #{member_birth}, #{member_phone}, #{member_address}, 2000)
	</insert>
	
	<select id="selectAll" resultType="com.moaplace.vo.MemberVO">
		SELECT * FROM member
	</select>
	
	<select id="findOne" resultType="com.moaplace.vo.MemberVO">
		SELECT * FROM member WHERE member_id = #{member_id} AND enabled = 1
	</select>
	
	<!-- 회원 정보 수정 -->
	<update id="myInfoEdit" parameterType="com.moaplace.dto.MyInfoEditDTO">
		update member
		<set>
			<if test="member_name != null and member_name != ''">
				member_name = #{member_name},
			</if>
			<if test="member_pwd != null and member_pwd != ''">
				member_pwd = #{member_pwd},
			</if>
			<if test="member_gender != null and member_gender != ''">
				member_gender = #{member_gender},
			</if>
			<if test="member_phone != null and member_phone != ''">
				member_phone = #{member_phone},
			</if>
			<if test="member_address != null and member_address != ''">
				member_address = #{member_address},
			</if>
		</set>
		where member_num = #{member_num}
	</update>
	
</mapper>