<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.moaplace.mapper.RentalMapper">
	
	<insert id="insert" parameterType="com.moaplace.vo.RentalVO">
		insert into rental values
		(rental_seq.nextval, #{member_num}, #{hall_num}, 
		#{rental_name}, #{rental_phone}, #{rental_email},
		#{rental_title}, #{rental_genre}, #{rental_date}, #{rental_time},
		#{rental_savefilename}, #{rental_originfilename}, #{rental_filesize},
		#{rental_ownsname}, #{rental_ownsphone}, #{rental_ownemail},#{rental_content},
		sysdate,'신청완료')
	</insert>
	<select id="select" resultType="com.moaplace.vo.RentalVO">
		select * from rental	
	</select>
</mapper>