<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.moaplace.mapper.RentalMapper">
	
	<!-- member_num으로 회원의 대관내역 존재여부 확인 -->
	<select id="rentalExist" resultType="int" parameterType="int">
		select NVL(count(*),0) cnt from rental
		where member_num = #{member_num}
	</select>
	
	<!-- member_num으로 회원의 가장 최근 대관내역 1건 조회 -->
	<select id="recentRental" resultType="com.moaplace.dto.MyRentalDTO" parameterType="int">
		select * from (
		    select r.rental_num,r.regdate,h.hall_name,r.rental_date,r.rental_time,r.rental_state
		    from rental r
		    join hall h on (r.hall_num = h.hall_num)
		    where r.member_num = #{member_num}
		    order by r.rental_num desc
		) where rownum = 1
	</select>
	
	<!-- member_num + startdate + enddate + startrow + endrow 받아서 기간설정 + 페이징 조회 -->
	<select id="list" resultType="com.moaplace.dto.MyRentalDTO" parameterType="hashmap">
		select * from (
		    select r.*,rownum rnum from (
		        select r.rental_num,r.regdate,h.hall_name,r.rental_date,r.rental_time,r.rental_state
		        from rental r
		        join hall h on (r.hall_num = h.hall_num)
		        where r.member_num = #{member_num}
		        and r.regdate between #{startdate} and #{enddate}
		        order by r.rental_num desc
		    )r
		)where rnum between #{startRow} and #{endRow}
	</select>
	
	<!-- 기간설정  + 페이징 조회된 내역 개수 -->
	<select id="listCount" resultType="int" parameterType="hashmap">
		select NVL(count(*),0) cnt from (
		    select r.*,rownum rnum from (
		        select r.rental_num,r.regdate,h.hall_name,r.rental_date,r.rental_time,r.rental_state
		        from rental r
		        join hall h on (r.hall_num = h.hall_num)
		        where r.member_num = #{member_num}
		        and r.regdate between #{startdate} and #{enddate}
		        order by r.rental_num desc
		    )r
		)
	</select>
	
	<!-- rental_num으로 대관상세내역 조회 -->
	<select id="detail" resultType="com.moaplace.dto.MyRentalDetailDTO" parameterType="int">
		select r.*,h.hall_name,ra.answer_content
		from rental r
		join hall h on (r.hall_num = h.hall_num)
		left join rental_answer ra on (r.rental_num = ra.rental_num)
		where r.rental_num = #{rental_num}
	</select>
	
	<insert id="insert" parameterType="com.moaplace.vo.RentalVO">
		insert into rental values
		(rental_seq.nextval, #{member_num}, #{hall_num}, 
		#{rental_name}, #{rental_phone}, #{rental_email},
		#{rental_title}, #{rental_genre}, #{rental_date}, #{rental_time},
		#{rental_savefilename}, #{rental_originfilename}, #{rental_filesize},
		#{rental_ownsname}, #{rental_ownsphone}, #{rental_ownemail},#{rental_content},
		sysdate,'신청완료')
	</insert>
  
	<select id="select" resultType="com.moaplace.vo.RentalVO">
		select * from rental	
	</select>
</mapper>