<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.moaplace.mapper.ReviewMapper">
	
	<!-- member_num + startRow + endRow로 관람후기 리스트 불러오기 + 페이징 -->
	<select id="myList" resultType="com.moaplace.dto.MyReviewDTO" parameterType="hashmap">
		select * from (
		    select rownum rnum,r.* from (
		        select r.review_num,r.member_num,r.show_num,s.show_thumbnail,
		        s.show_name,r.review_grade,r.review_content,r.review_regdate
		        from review r
		        join show s on (r.show_num = s.show_num)
		        where member_num = #{member_num}
		        order by r.review_num desc
		    )r
		)where rnum between #{startRow} and #{endRow}
	</select>
	
	<!-- member_num으로 관람후기 내역 개수 조회 -->
	<select id="myListCount" resultType="int" parameterType="int">
		select NVL(count(*),0) cnt from (
		    select rownum rnum,r.* from (
		        select *
		        from review r
		        join show s on (r.show_num = s.show_num)
		        where member_num = #{member_num}
		        order by r.review_num desc
		    )r
		)
	</select>
	
	<!-- show_num으로 관람후기 내역 개수 조회 -->
	<select id="reviewCount" resultType="int" parameterType="int">
		select count(*)
		from review
		where show_num = #{show_num}
	</select>
	
	<!-- show_num으로 관람후기 내역 조회 -->
	<select id="reviewList" resultType="com.moaplace.dto.ReviewDTO" parameterType="hashmap">
		select * from(
			select rownum rnum, r.* from (
			    select review_num, show_num, r.member_num, review_content, review_grade, review_regdate, member_id
			    from review r, member m
			    where r.member_num = m.member_num(+) and show_num = #{show_num}
			    order by review_num desc
			)r
		)re
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<!-- 관람후기 등록 -->
	<insert id="reviewInsert" parameterType="com.moaplace.vo.ReviewVO">
		insert into review values(REVIEW_SEQ.nextval, #{show_num}, #{member_num}, #{review_content}, #{review_grade}, sysdate)
	</insert>
	
	<!-- 후기 삭제 -->
	<delete id="reviewDelete" parameterType="int">
		delete from review where review_num = #{review_num}
	</delete>
	
	<!-- rivew_num으로 관람후기 조회 -->
	<select id="reviewSelect" resultType="com.moaplace.vo.ReviewVO" parameterType="int">
		select *
		from review
		where review_num = #{review_num}
	</select>
	
	<!-- 후기 수정 -->	
	<update id="reviewUpdate" parameterType="com.moaplace.vo.ReviewVO">
		update review set review_content = #{review_content}, review_grade = #{review_grade} 
		where review_num = #{review_num}
	</update>
</mapper>