<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.moaplace.mapper.ShowImgMapper">

	<insert id="showImgInsert" parameterType="com.moaplace.vo.ShowImgVO">
		INSERT INTO show_img VALUES(show_img_seq.nextval, #{show_num}, #{show_detail_img})
	</insert>

	<delete id="deleteShowImg" parameterType="int">
		DELETE FROM show_img WHERE show_num = #{num}
	</delete>

	<!-- 공연 상세이미지 -->
   <select id="detailimg" resultType="com.moaplace.dto.ShowImgDTO" parameterType="int">
   		select show_detail_img
        from show_img
        where show_num = #{show_num}
        order by show_img_num
   </select>
   
   <delete id="showImgUpDel" parameterType="com.moaplace.vo.ShowImgVO">
		DELETE FROM show_img
		WHERE show_num = #{show_num}
	</delete>
</mapper>