<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.moaplace.mapper.ShowMapper">

<!-- ////////////// 연희 시작 ////////////// -->

<insert id="showInsert" parameterType="com.moaplace.vo.ShowVO">
	<!-- 셀렉트키로 인서트 전에 시퀀스번호 받아옴(셀렉트로 불러오면서 nextval로 넘어감) -->
	<selectKey keyProperty="show_num" order="BEFORE" resultType="int">
		select show_seq.nextval from dual
	</selectKey>
	
	insert into show values(#{show_num},#{genre_num},#{hall_num},#{show_name},
	
	#{show_start},#{show_end},#{show_check},null,null,#{show_age},
	
	#{intermission},#{running_time},#{show_thumbnail})
</insert>

<select id="showList" parameterType="hashmap" resultType="com.moaplace.dto.admin.show.ShowListDTO">

	SELECT * FROM (

		SELECT ROWNUM rn, A.* 
		
		FROM(
		
			SELECT s.show_num num, h.hall_name hall, s.show_name title, 
			
			TO_CHAR(s.show_start, 'YYYY-MM-DD') startDate, TO_CHAR(s.show_end, 'YYYY-MM-DD') endDate, s.show_check status 
				
			FROM show s INNER JOIN hall h ON s.hall_num=h.hall_num
			
			<trim prefix="WHERE">
				<if test="showCheck != 'all'">
					<choose>
						<when test="search == null or search == ''">							
							show_check = #{showCheck} 						
						</when>
						<when test="field == 'title' and search != null">
							show_check = #{showCheck} AND show_name LIKE '%'||#{search}||'%'
						</when>
						<when test="field == 'hall' and search != null">
							show_check = #{showCheck} AND hall_name LIKE '%'||#{search}||'%'
						</when>
						<when test="field == 'showNum' and search != null">
							show_check = #{showCheck} AND s.show_num LIKE '%'||#{search}||'%'
						</when>
					</choose>
				</if>
				<if test="showCheck == 'all'">
					<choose>
						<when test="field == 'title' and search != null">
							show_name LIKE '%'||#{search}||'%'
						</when>
						<when test="field == 'hall' and search != null">
							hall_name LIKE '%'||#{search}||'%'
						</when>
						<when test="field == 'showNum' and search != null">
							s.show_num = #{search}
						</when>
					</choose>
				</if>
			</trim>
			
			ORDER BY show_num DESC) A) 
			
	WHERE rn BETWEEN #{startRow} AND #{endRow}
</select>

<select id="currentCount" resultType="int" parameterType="hashmap">

SELECT NVL(COUNT(*),0)
		
		FROM(
		
			SELECT s.show_num num, h.hall_name hall, s.show_name title, 
			
			TO_CHAR(s.show_start, 'YYYY-MM-DD') startDate, TO_CHAR(s.show_end, 'YYYY-MM-DD') endDate, s.show_check status 
				
			FROM show s INNER JOIN hall h ON s.hall_num=h.hall_num
			
			<trim prefix="WHERE">
				<if test="showCheck != 'all'">
					<choose>
						<when test="search == null or search == ''">							
							show_check = #{showCheck} 						
						</when>
						<when test="field == 'title'">
							show_check = #{showCheck} AND show_name LIKE '%'||#{search}||'%'
						</when>
						<when test="field == 'hall'">
							show_check = #{showCheck} AND hall_name LIKE '%'||#{search}||'%'
						</when>
						<when test="field == 'showNum'">
							show_check = #{showCheck} AND s.show_num LIKE '%'||#{search}||'%'
						</when>
					</choose>
				</if>
				<if test="showCheck == 'all'">
					<choose>
						<when test="field == 'title' and search != null">
							show_name LIKE '%'||#{search}||'%'
						</when>
						<when test="field == 'hall' and search != null">
							hall_name LIKE '%'||#{search}||'%'
						</when>
						<when test="field == 'showNum' and search != null">
							s.show_num = #{search}
						</when>
					</choose>
				</if>
			</trim>
			
			ORDER BY show_num DESC)
			
</select>


<select id="showDetail" parameterType="int" resultType="com.moaplace.dto.admin.show.MapperDetailDTO">
	<![CDATA[
		SELECT a.* , i.show_detail_img detailImgs 
		
			FROM (
			
			SELECT 
				s.show_num num, 
				s.show_name title, 
				h.hall_name hall, 
				g.genre_category genre,
				s.show_check status, 
				s.running_time runningTime, 
				s.intermission intermission, 
				(h.hall_cols * hall_rows) seats,
				s.show_age age, 
				TO_CHAR(s.show_start, 'YYYY-MM-DD') startDate, 
				TO_CHAR(s.show_end, 'YYYY-MM-DD') endDate, 
				TO_CHAR(s.stop_start, 'YYYY-MM-DD') blockStartDate, 
				TO_CHAR(s.stop_end, 'YYYY-MM-DD') blockEndDate, 
				s.show_thumbnail thumbnail
			
			FROM show s 
			INNER JOIN hall h 
			ON h.hall_num = s.hall_num 
			
			INNER JOIN genre g 
			ON s.genre_num = g.genre_num) a 
			
		RIGHT JOIN show_img i
		ON a.num = i.show_num 
		
		WHERE show_num = #{num}
	]]>
</select>

<select id="searchShow" parameterType="String" resultType="com.moaplace.dto.admin.show.ShowPartInfoDTO">
	
			SELECT 
				show_num num, 
				show_name title, 
				running_time runningTime,
				intermission intermission,
				show_check status, 
				show_age age, 
				TO_CHAR(show_start, 'YYYY-MM-DD') startDate, 
				TO_CHAR(show_end, 'YYYY-MM-DD') endDate, 
				TO_CHAR(stop_start, 'YYYY-MM-DD') blockStartDate, 
				TO_CHAR(stop_end, 'YYYY-MM-DD') blockEndDate, 
				show_thumbnail thumbnail
			FROM show	
			WHERE show_name like '%'||#{title}||'%'
</select>

<select id="searchShowNumber" parameterType="int" resultType="com.moaplace.dto.admin.show.ShowPartInfoDTO">
	
			SELECT 
				show_num num, 
				show_name title, 
				running_time runningTime,
				intermission intermission,
				show_check status, 
				show_age age, 
				TO_CHAR(show_start, 'YYYY-MM-DD') startDate, 
				TO_CHAR(show_end, 'YYYY-MM-DD') endDate, 
				TO_CHAR(stop_start, 'YYYY-MM-DD') blockStartDate, 
				TO_CHAR(stop_end, 'YYYY-MM-DD') blockEndDate, 
				show_thumbnail thumbnail
			FROM show	
			WHERE show_num = #{num}
</select>


  <select id="firstCntRow" resultType="int">

  SELECT NVL(COUNT(*),0) FROM show

  </select>

<update id="showUpdate" parameterType="com.moaplace.vo.ShowVO">
 	update show set genre_num = #{genre_num}, hall_num = #{hall_num}, show_name = #{show_name},
	
		show_start = #{show_start}, show_end = #{show_end},
		<if test="stop_start != null">
		stop_start = #{stop_start},
		</if>
		<if test="stop_end != null">
		stop_end = #{stop_end},
		</if>
		show_check = #{show_check}, show_age = #{show_age},
		
		intermission = #{intermission}, running_time = #{running_time},
		
		show_thumbnail = #{show_thumbnail} 
		
		WHERE show_num = #{show_num}
</update>



<!-- ////////////// 연희 끝 ////////////// -->

	<select id="list" resultType="com.moaplace.dto.ShowDTO" parameterType="hashmap">

		select * from (
		    select rownum rnum, s.show_num, s.genre_num, s.hall_num, s.show_name, s.show_start, s.show_end, s.show_check, s.show_thumbnail from (
		        select * from show
		        where show_start between #{start_date} and #{end_date} 
		        and hall_num in
		        <foreach collection="hall_chk" item="hall_chk" separator="," open="(" close=")">
		        	#{hall_chk}
		        </foreach>
				and genre_num in
		        <foreach collection="genre_chk" item="genre_chk" separator="," open="(" close=")">
		        	#{genre_chk}
		        </foreach>
		        <if test="keyword !=null and keyword != '' ">	
					and show_name like '%'||#{keyword}||'%'
				</if>
		        order by show_num desc
		    ) s
		) sh
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<!-- 전체 공연 갯수 -->
   <select id="count" resultType="int" parameterType="hashmap">
   		select NVL(count(*),0) cnt from show where show_start between #{start_date} 
   		and #{end_date} and hall_num in
        <foreach collection="hall_chk" item="hall_chk" separator="," open="(" close=")">
			#{hall_chk}
		</foreach>
		and genre_num in
		<foreach collection="genre_chk" item="genre_chk" separator="," open="(" close=")">
			#{genre_chk}
		</foreach>
		<if test="keyword !=null and keyword != '' ">	
			and show_name like '%'||#{keyword}||'%'
		</if>	
   </select>
	
	<!-- 공연 상세페이지 -->
	<select id="detail" resultType="com.moaplace.dto.ShowDetailDTO" parameterType="int">
   		select show_num, show_thumbnail, show_name, show_start, show_end, hall_num, show_age, show_check
        from show
        where show_num = #{show_num}
   </select>

	<!-- 메인페이지 진행중인 공연 시작 ========================= -->
	
	<select id="getRunningShow" resultType="com.moaplace.dto.MainShowDTO">
		select show_num, show_name, show_thumbnail
		from show
		where 
			show_check = 'Y'
			and show_end >= sysdate
		order by show_start asc
	</select>
	
	<!-- 메인페이지 진행중인 공연 끝 =========================-->
	
	
	<!-- 예매페이지 공연장, 공연명 조회 -->
	<select id="getBookingShow" resultType="com.moaplace.dto.BookingShowDTO">
		select hall_num, show_name
		from show
		where show_num = #{show_num}
	</select>
</mapper>